* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  background-color: #021027; }
/* a href */
a {
  text-decoration: none;
  color: inherit;
}
a h1:hover {
  color: white;
}
/* Header */
.headline {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 20px;
  top: 0;
  left: 0;
  line-height: 37px;
  color: #93f6fa;
  font-family: Arial, Verdana, Helvetica;
  text-align: center; }
  .headline h1 {
    letter-spacing: 10px;
    text-shadow: 1px 1px 2px white; }
  .headline .enter{
    width: 150px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid white;
    border-radius: 2px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: inherit; }
  .headline a:hover {
    background-color: #93f6fa;
    color: #021027; }

/* Background */
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }

.background {
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: fill;
  mask-image: radial-gradient(white 0%, white 50%, transparent 95%, transparent); }

/* Animation */
.light-container {
  position: absolute;
  animation-iteration-count: infinite; }
  .light-container .light {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: radial-gradient(circle, #99f0ff, #99f0ff 10%, rgba(0, 217, 255, 0) 56%);
    animation: scale-frames 3s infinite; }
@keyframes scale-frames {
  0% {
    transform: scale3d(0.4, 0.4, 1); }
  50% {
    transform: scale3d(2.2, 2.2, 1); }
  100% {
    transform: scale3d(0.4, 0.4, 1); } }
  .light-container:nth-child(1) {
    width: 4px;
    height: 4px;
    animation-name: move-frames-1;
    animation-duration: 36764ms;
    animation-delay: 18275ms; }
@keyframes move-frames-1 {
  from {
    transform: translate3d(66vw, 80vh, 0); }
  to {
    transform: translate3d(68vw, -123vh, 0); } }
  .light-container:nth-child(2) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-2;
    animation-duration: 33503ms;
    animation-delay: 32878ms; }
@keyframes move-frames-2 {
  from {
    transform: translate3d(47vw, 7vh, 0); }
  to {
    transform: translate3d(73vw, -109vh, 0); } }
  .light-container:nth-child(3) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-3;
    animation-duration: 32959ms;
    animation-delay: 2057ms; }
@keyframes move-frames-3 {
  from {
    transform: translate3d(24vw, 63vh, 0); }
  to {
    transform: translate3d(50vw, -108vh, 0); } }
  .light-container:nth-child(4) {
    width: 4px;
    height: 4px;
    animation-name: move-frames-4;
    animation-duration: 28682ms;
    animation-delay: 16319ms; }
@keyframes move-frames-4 {
  from {
    transform: translate3d(72vw, 92vh, 0); }
  to {
    transform: translate3d(58vw, -124vh, 0); } }
  .light-container:nth-child(5) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-5;
    animation-duration: 31697ms;
    animation-delay: 15393ms; }
@keyframes move-frames-5 {
  from {
    transform: translate3d(13vw, 41vh, 0); }
  to {
    transform: translate3d(60vw, -104vh, 0); } }
  .light-container:nth-child(6) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-6;
    animation-duration: 29464ms;
    animation-delay: 4133ms; }
@keyframes move-frames-6 {
  from {
    transform: translate3d(12vw, 63vh, 0); }
  to {
    transform: translate3d(40vw, -103vh, 0); } }
  .light-container:nth-child(7) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-7;
    animation-duration: 32785ms;
    animation-delay: 23877ms; }
@keyframes move-frames-7 {
  from {
    transform: translate3d(76vw, 47vh, 0); }
  to {
    transform: translate3d(92vw, -107vh, 0); } }
  .light-container:nth-child(8) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-8;
    animation-duration: 36432ms;
    animation-delay: 24035ms; }
@keyframes move-frames-8 {
  from {
    transform: translate3d(64vw, 89vh, 0); }
  to {
    transform: translate3d(36vw, -105vh, 0); } }
  .light-container:nth-child(9) {
    width: 2px;
    height: 2px;
    animation-name: move-frames-9;
    animation-duration: 28824ms;
    animation-delay: 11302ms; }
@keyframes move-frames-9 {
  from {
    transform: translate3d(71vw, 9vh, 0); }
  to {
    transform: translate3d(70vw, -100vh, 0); } }
  .light-container:nth-child(10) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-10;
    animation-duration: 36064ms;
    animation-delay: 9951ms; }
@keyframes move-frames-10 {
  from {
    transform: translate3d(48vw, 33vh, 0); }
  to {
    transform: translate3d(7vw, -123vh, 0); } }
  .light-container:nth-child(11) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-11;
    animation-duration: 29537ms;
    animation-delay: 31917ms; }
@keyframes move-frames-11 {
  from {
    transform: translate3d(3vw, 71vh, 0); }
  to {
    transform: translate3d(74vw, -117vh, 0); } }
  .light-container:nth-child(12) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-12;
    animation-duration: 28329ms;
    animation-delay: 17444ms; }
@keyframes move-frames-12 {
  from {
    transform: translate3d(40vw, 49vh, 0); }
  to {
    transform: translate3d(5vw, -119vh, 0); } }
  .light-container:nth-child(13) {
    width: 2px;
    height: 2px;
    animation-name: move-frames-13;
    animation-duration: 34970ms;
    animation-delay: 10667ms; }
@keyframes move-frames-13 {
  from {
    transform: translate3d(15vw, 23vh, 0); }
  to {
    transform: translate3d(62vw, -106vh, 0); } }
  .light-container:nth-child(14) {
    width: 4px;
    height: 4px;
    animation-name: move-frames-14;
    animation-duration: 33719ms;
    animation-delay: 21880ms; }
@keyframes move-frames-14 {
  from {
    transform: translate3d(75vw, 31vh, 0); }
  to {
    transform: translate3d(64vw, -106vh, 0); } }
  .light-container:nth-child(15) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-15;
    animation-duration: 31659ms;
    animation-delay: 27178ms; }
@keyframes move-frames-15 {
  from {
    transform: translate3d(69vw, 14vh, 0); }
  to {
    transform: translate3d(85vw, -114vh, 0); } }
  .light-container:nth-child(16) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-16;
    animation-duration: 34924ms;
    animation-delay: 22655ms; }
@keyframes move-frames-16 {
  from {
    transform: translate3d(26vw, 34vh, 0); }
  to {
    transform: translate3d(58vw, -102vh, 0); } }
  .light-container:nth-child(17) {
    width: 6px;
    height: 6px;
    animation-name: move-frames-17;
    animation-duration: 34307ms;
    animation-delay: 29062ms; }
@keyframes move-frames-17 {
  from {
    transform: translate3d(1vw, 45vh, 0); }
  to {
    transform: translate3d(13vw, -108vh, 0); } }
  .light-container:nth-child(18) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-18;
    animation-duration: 31119ms;
    animation-delay: 6714ms; }
@keyframes move-frames-18 {
  from {
    transform: translate3d(87vw, 21vh, 0); }
  to {
    transform: translate3d(37vw, -109vh, 0); } }
  .light-container:nth-child(19) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-19;
    animation-duration: 29389ms;
    animation-delay: 25839ms; }
@keyframes move-frames-19 {
  from {
    transform: translate3d(57vw, 57vh, 0); }
  to {
    transform: translate3d(15vw, -96vh, 0); } }
  .light-container:nth-child(20) {
    width: 6px;
    height: 6px;
    animation-name: move-frames-20;
    animation-duration: 33398ms;
    animation-delay: 31733ms; }
@keyframes move-frames-20 {
  from {
    transform: translate3d(2vw, 55vh, 0); }
  to {
    transform: translate3d(56vw, -102vh, 0); } }
  .light-container:nth-child(21) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-21;
    animation-duration: 28599ms;
    animation-delay: 146ms; }
@keyframes move-frames-21 {
  from {
    transform: translate3d(48vw, 10vh, 0); }
  to {
    transform: translate3d(40vw, -103vh, 0); } }
  .light-container:nth-child(22) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-22;
    animation-duration: 30987ms;
    animation-delay: 20563ms; }
@keyframes move-frames-22 {
  from {
    transform: translate3d(9vw, 70vh, 0); }
  to {
    transform: translate3d(4vw, -103vh, 0); } }
  .light-container:nth-child(23) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-23;
    animation-duration: 28867ms;
    animation-delay: 2723ms; }
@keyframes move-frames-23 {
  from {
    transform: translate3d(42vw, 38vh, 0); }
  to {
    transform: translate3d(47vw, -120vh, 0); } }
  .light-container:nth-child(24) {
    width: 4px;
    height: 4px;
    animation-name: move-frames-24;
    animation-duration: 35248ms;
    animation-delay: 22414ms; }
@keyframes move-frames-24 {
  from {
    transform: translate3d(45vw, 62vh, 0); }
  to {
    transform: translate3d(54vw, -119vh, 0); } }
  .light-container:nth-child(25) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-25;
    animation-duration: 36388ms;
    animation-delay: 36201ms; }
@keyframes move-frames-25 {
  from {
    transform: translate3d(95vw, 40vh, 0); }
  to {
    transform: translate3d(36vw, -124vh, 0); } }
  .light-container:nth-child(26) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-26;
    animation-duration: 34949ms;
    animation-delay: 11950ms; }
@keyframes move-frames-26 {
  from {
    transform: translate3d(65vw, 84vh, 0); }
  to {
    transform: translate3d(61vw, -98vh, 0); } }
  .light-container:nth-child(27) {
    width: 6px;
    height: 6px;
    animation-name: move-frames-27;
    animation-duration: 31325ms;
    animation-delay: 24247ms; }
@keyframes move-frames-27 {
  from {
    transform: translate3d(11vw, 12vh, 0); }
  to {
    transform: translate3d(57vw, -104vh, 0); } }
  .light-container:nth-child(28) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-28;
    animation-duration: 32386ms;
    animation-delay: 27938ms; }
@keyframes move-frames-28 {
  from {
    transform: translate3d(65vw, 73vh, 0); }
  to {
    transform: translate3d(51vw, -99vh, 0); } }
  .light-container:nth-child(29) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-29;
    animation-duration: 29249ms;
    animation-delay: 5538ms; }
@keyframes move-frames-29 {
  from {
    transform: translate3d(44vw, 38vh, 0); }
  to {
    transform: translate3d(59vw, -99vh, 0); } }
  .light-container:nth-child(30) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-30;
    animation-duration: 33040ms;
    animation-delay: 22385ms; }
@keyframes move-frames-30 {
  from {
    transform: translate3d(70vw, 52vh, 0); }
  to {
    transform: translate3d(10vw, -121vh, 0); } }
  .light-container:nth-child(31) {
    width: 4px;
    height: 4px;
    animation-name: move-frames-31;
    animation-duration: 32753ms;
    animation-delay: 897ms; }
@keyframes move-frames-31 {
  from {
    transform: translate3d(20vw, 31vh, 0); }
  to {
    transform: translate3d(2vw, -104vh, 0); } }
  .light-container:nth-child(32) {
    width: 2px;
    height: 2px;
    animation-name: move-frames-32;
    animation-duration: 34221ms;
    animation-delay: 4081ms; }
@keyframes move-frames-32 {
  from {
    transform: translate3d(87vw, 91vh, 0); }
  to {
    transform: translate3d(24vw, -102vh, 0); } }
  .light-container:nth-child(33) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-33;
    animation-duration: 34652ms;
    animation-delay: 2687ms; }
@keyframes move-frames-33 {
  from {
    transform: translate3d(20vw, 81vh, 0); }
  to {
    transform: translate3d(20vw, -118vh, 0); } }
  .light-container:nth-child(34) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-34;
    animation-duration: 31140ms;
    animation-delay: 27297ms; }
@keyframes move-frames-34 {
  from {
    transform: translate3d(61vw, 52vh, 0); }
  to {
    transform: translate3d(41vw, -125vh, 0); } }
  .light-container:nth-child(35) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-35;
    animation-duration: 28633ms;
    animation-delay: 7730ms; }
@keyframes move-frames-35 {
  from {
    transform: translate3d(26vw, 24vh, 0); }
  to {
    transform: translate3d(62vw, -108vh, 0); } }
  .light-container:nth-child(36) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-36;
    animation-duration: 33550ms;
    animation-delay: 11492ms; }
@keyframes move-frames-36 {
  from {
    transform: translate3d(63vw, 48vh, 0); }
  to {
    transform: translate3d(24vw, -118vh, 0); } }
  .light-container:nth-child(37) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-37;
    animation-duration: 35114ms;
    animation-delay: 6471ms; }
@keyframes move-frames-37 {
  from {
    transform: translate3d(93vw, 91vh, 0); }
  to {
    transform: translate3d(79vw, -109vh, 0); } }
  .light-container:nth-child(38) {
    width: 6px;
    height: 6px;
    animation-name: move-frames-38;
    animation-duration: 28678ms;
    animation-delay: 19068ms; }
@keyframes move-frames-38 {
  from {
    transform: translate3d(26vw, 11vh, 0); }
  to {
    transform: translate3d(49vw, -109vh, 0); } }
  .light-container:nth-child(39) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-39;
    animation-duration: 28105ms;
    animation-delay: 29163ms; }
@keyframes move-frames-39 {
  from {
    transform: translate3d(4vw, 35vh, 0); }
  to {
    transform: translate3d(88vw, -111vh, 0); } }
  .light-container:nth-child(40) {
    width: 6px;
    height: 6px;
    animation-name: move-frames-40;
    animation-duration: 31186ms;
    animation-delay: 8432ms; }
@keyframes move-frames-40 {
  from {
    transform: translate3d(9vw, 82vh, 0); }
  to {
    transform: translate3d(70vw, -123vh, 0); } }
  .light-container:nth-child(41) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-41;
    animation-duration: 36264ms;
    animation-delay: 26645ms; }
@keyframes move-frames-41 {
  from {
    transform: translate3d(8vw, 51vh, 0); }
  to {
    transform: translate3d(8vw, -109vh, 0); } }
  .light-container:nth-child(42) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-42;
    animation-duration: 29611ms;
    animation-delay: 19413ms; }
@keyframes move-frames-42 {
  from {
    transform: translate3d(22vw, 54vh, 0); }
  to {
    transform: translate3d(65vw, -102vh, 0); } }
  .light-container:nth-child(43) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-43;
    animation-duration: 29202ms;
    animation-delay: 22305ms; }
@keyframes move-frames-43 {
  from {
    transform: translate3d(41vw, 1vh, 0); }
  to {
    transform: translate3d(82vw, -101vh, 0); } }
  .light-container:nth-child(44) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-44;
    animation-duration: 31327ms;
    animation-delay: 21951ms; }
@keyframes move-frames-44 {
  from {
    transform: translate3d(19vw, 77vh, 0); }
  to {
    transform: translate3d(2vw, -124vh, 0); } }
  .light-container:nth-child(45) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-45;
    animation-duration: 33363ms;
    animation-delay: 15508ms; }
@keyframes move-frames-45 {
  from {
    transform: translate3d(95vw, 10vh, 0); }
  to {
    transform: translate3d(25vw, -106vh, 0); } }
  .light-container:nth-child(46) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-46;
    animation-duration: 36341ms;
    animation-delay: 25621ms; }
@keyframes move-frames-46 {
  from {
    transform: translate3d(72vw, 25vh, 0); }
  to {
    transform: translate3d(75vw, -107vh, 0); } }
  .light-container:nth-child(47) {
    width: 4px;
    height: 4px;
    animation-name: move-frames-47;
    animation-duration: 32372ms;
    animation-delay: 32236ms; }
@keyframes move-frames-47 {
  from {
    transform: translate3d(79vw, 92vh, 0); }
  to {
    transform: translate3d(94vw, -124vh, 0); } }
  .light-container:nth-child(48) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-48;
    animation-duration: 35410ms;
    animation-delay: 30180ms; }
@keyframes move-frames-48 {
  from {
    transform: translate3d(25vw, 72vh, 0); }
  to {
    transform: translate3d(87vw, -107vh, 0); } }
  .light-container:nth-child(49) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-49;
    animation-duration: 35342ms;
    animation-delay: 27862ms; }
@keyframes move-frames-49 {
  from {
    transform: translate3d(88vw, 16vh, 0); }
  to {
    transform: translate3d(59vw, -101vh, 0); } }
  .light-container:nth-child(50) {
    width: 2px;
    height: 2px;
    animation-name: move-frames-50;
    animation-duration: 28839ms;
    animation-delay: 17422ms; }
@keyframes move-frames-50 {
  from {
    transform: translate3d(8vw, 46vh, 0); }
  to {
    transform: translate3d(54vw, -104vh, 0); } }
  .light-container:nth-child(51) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-51;
    animation-duration: 30107ms;
    animation-delay: 27640ms; }
@keyframes move-frames-51 {
  from {
    transform: translate3d(33vw, 4vh, 0); }
  to {
    transform: translate3d(43vw, -117vh, 0); } }
  .light-container:nth-child(52) {
    width: 6px;
    height: 6px;
    animation-name: move-frames-52;
    animation-duration: 31595ms;
    animation-delay: 8364ms; }
@keyframes move-frames-52 {
  from {
    transform: translate3d(76vw, 34vh, 0); }
  to {
    transform: translate3d(60vw, -115vh, 0); } }
  .light-container:nth-child(53) {
    width: 2px;
    height: 2px;
    animation-name: move-frames-53;
    animation-duration: 31338ms;
    animation-delay: 21499ms; }
@keyframes move-frames-53 {
  from {
    transform: translate3d(4vw, 56vh, 0); }
  to {
    transform: translate3d(46vw, -103vh, 0); } }
  .light-container:nth-child(54) {
    width: 4px;
    height: 4px;
    animation-name: move-frames-54;
    animation-duration: 29234ms;
    animation-delay: 7651ms; }
@keyframes move-frames-54 {
  from {
    transform: translate3d(20vw, 58vh, 0); }
  to {
    transform: translate3d(16vw, -124vh, 0); } }
  .light-container:nth-child(55) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-55;
    animation-duration: 31099ms;
    animation-delay: 30247ms; }
@keyframes move-frames-55 {
  from {
    transform: translate3d(12vw, 92vh, 0); }
  to {
    transform: translate3d(44vw, -97vh, 0); } }
  .light-container:nth-child(56) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-56;
    animation-duration: 31005ms;
    animation-delay: 5840ms; }
@keyframes move-frames-56 {
  from {
    transform: translate3d(64vw, 26vh, 0); }
  to {
    transform: translate3d(38vw, -111vh, 0); } }
  .light-container:nth-child(57) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-57;
    animation-duration: 34370ms;
    animation-delay: 33114ms; }
@keyframes move-frames-57 {
  from {
    transform: translate3d(34vw, 40vh, 0); }
  to {
    transform: translate3d(79vw, -102vh, 0); } }
  .light-container:nth-child(58) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-58;
    animation-duration: 29237ms;
    animation-delay: 31476ms; }
@keyframes move-frames-58 {
  from {
    transform: translate3d(26vw, 60vh, 0); }
  to {
    transform: translate3d(70vw, -96vh, 0); } }
  .light-container:nth-child(59) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-59;
    animation-duration: 29173ms;
    animation-delay: 29275ms; }
@keyframes move-frames-59 {
  from {
    transform: translate3d(91vw, 10vh, 0); }
  to {
    transform: translate3d(4vw, -98vh, 0); } }
  .light-container:nth-child(60) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-60;
    animation-duration: 35519ms;
    animation-delay: 15918ms; }
@keyframes move-frames-60 {
  from {
    transform: translate3d(55vw, 44vh, 0); }
  to {
    transform: translate3d(29vw, -114vh, 0); } }
  .light-container:nth-child(61) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-61;
    animation-duration: 35755ms;
    animation-delay: 18158ms; }
@keyframes move-frames-61 {
  from {
    transform: translate3d(10vw, 88vh, 0); }
  to {
    transform: translate3d(65vw, -113vh, 0); } }
  .light-container:nth-child(62) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-62;
    animation-duration: 34900ms;
    animation-delay: 17208ms; }
@keyframes move-frames-62 {
  from {
    transform: translate3d(83vw, 79vh, 0); }
  to {
    transform: translate3d(79vw, -108vh, 0); } }
  .light-container:nth-child(63) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-63;
    animation-duration: 34085ms;
    animation-delay: 33205ms; }
@keyframes move-frames-63 {
  from {
    transform: translate3d(41vw, 78vh, 0); }
  to {
    transform: translate3d(75vw, -124vh, 0); } }
  .light-container:nth-child(64) {
    width: 4px;
    height: 4px;
    animation-name: move-frames-64;
    animation-duration: 31667ms;
    animation-delay: 4046ms; }
@keyframes move-frames-64 {
  from {
    transform: translate3d(7vw, 25vh, 0); }
  to {
    transform: translate3d(91vw, -117vh, 0); } }
  .light-container:nth-child(65) {
    width: 6px;
    height: 6px;
    animation-name: move-frames-65;
    animation-duration: 31505ms;
    animation-delay: 32324ms; }
@keyframes move-frames-65 {
  from {
    transform: translate3d(16vw, 18vh, 0); }
  to {
    transform: translate3d(91vw, -112vh, 0); } }
  .light-container:nth-child(66) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-66;
    animation-duration: 30335ms;
    animation-delay: 14844ms; }
@keyframes move-frames-66 {
  from {
    transform: translate3d(57vw, 40vh, 0); }
  to {
    transform: translate3d(5vw, -115vh, 0); } }
  .light-container:nth-child(67) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-67;
    animation-duration: 32554ms;
    animation-delay: 13040ms; }
@keyframes move-frames-67 {
  from {
    transform: translate3d(67vw, 43vh, 0); }
  to {
    transform: translate3d(95vw, -118vh, 0); } }
  .light-container:nth-child(68) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-68;
    animation-duration: 30501ms;
    animation-delay: 2646ms; }
@keyframes move-frames-68 {
  from {
    transform: translate3d(80vw, 57vh, 0); }
  to {
    transform: translate3d(20vw, -107vh, 0); } }
  .light-container:nth-child(69) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-69;
    animation-duration: 33772ms;
    animation-delay: 1539ms; }
@keyframes move-frames-69 {
  from {
    transform: translate3d(87vw, 71vh, 0); }
  to {
    transform: translate3d(18vw, -118vh, 0); } }
  .light-container:nth-child(70) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-70;
    animation-duration: 29838ms;
    animation-delay: 4054ms; }
@keyframes move-frames-70 {
  from {
    transform: translate3d(82vw, 84vh, 0); }
  to {
    transform: translate3d(5vw, -115vh, 0); } }
  .light-container:nth-child(71) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-71;
    animation-duration: 32108ms;
    animation-delay: 28739ms; }
@keyframes move-frames-71 {
  from {
    transform: translate3d(41vw, 13vh, 0); }
  to {
    transform: translate3d(38vw, -105vh, 0); } }
  .light-container:nth-child(72) {
    width: 6px;
    height: 6px;
    animation-name: move-frames-72;
    animation-duration: 30103ms;
    animation-delay: 29125ms; }
@keyframes move-frames-72 {
  from {
    transform: translate3d(34vw, 67vh, 0); }
  to {
    transform: translate3d(69vw, -104vh, 0); } }
  .light-container:nth-child(73) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-73;
    animation-duration: 34294ms;
    animation-delay: 18588ms; }
@keyframes move-frames-73 {
  from {
    transform: translate3d(53vw, 18vh, 0); }
  to {
    transform: translate3d(16vw, -106vh, 0); } }
  .light-container:nth-child(74) {
    width: 4px;
    height: 4px;
    animation-name: move-frames-74;
    animation-duration: 29770ms;
    animation-delay: 34924ms; }
@keyframes move-frames-74 {
  from {
    transform: translate3d(66vw, 5vh, 0); }
  to {
    transform: translate3d(18vw, -103vh, 0); } }
  .light-container:nth-child(75) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-75;
    animation-duration: 35570ms;
    animation-delay: 32964ms; }
@keyframes move-frames-75 {
  from {
    transform: translate3d(92vw, 62vh, 0); }
  to {
    transform: translate3d(32vw, -100vh, 0); } }
  .light-container:nth-child(76) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-76;
    animation-duration: 36626ms;
    animation-delay: 1787ms; }
@keyframes move-frames-76 {
  from {
    transform: translate3d(50vw, 24vh, 0); }
  to {
    transform: translate3d(49vw, -110vh, 0); } }
  .light-container:nth-child(77) {
    width: 2px;
    height: 2px;
    animation-name: move-frames-77;
    animation-duration: 31941ms;
    animation-delay: 35703ms; }
@keyframes move-frames-77 {
  from {
    transform: translate3d(71vw, 75vh, 0); }
  to {
    transform: translate3d(41vw, -120vh, 0); } }
  .light-container:nth-child(78) {
    width: 4px;
    height: 4px;
    animation-name: move-frames-78;
    animation-duration: 31404ms;
    animation-delay: 8759ms; }
@keyframes move-frames-78 {
  from {
    transform: translate3d(65vw, 25vh, 0); }
  to {
    transform: translate3d(61vw, -123vh, 0); } }
  .light-container:nth-child(79) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-79;
    animation-duration: 34923ms;
    animation-delay: 13969ms; }
@keyframes move-frames-79 {
  from {
    transform: translate3d(32vw, 9vh, 0); }
  to {
    transform: translate3d(79vw, -121vh, 0); } }
  .light-container:nth-child(80) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-80;
    animation-duration: 35127ms;
    animation-delay: 11428ms; }
@keyframes move-frames-80 {
  from {
    transform: translate3d(14vw, 95vh, 0); }
  to {
    transform: translate3d(2vw, -108vh, 0); } }
  .light-container:nth-child(81) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-81;
    animation-duration: 35639ms;
    animation-delay: 33336ms; }
@keyframes move-frames-81 {
  from {
    transform: translate3d(8vw, 59vh, 0); }
  to {
    transform: translate3d(50vw, -125vh, 0); } }
  .light-container:nth-child(82) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-82;
    animation-duration: 34959ms;
    animation-delay: 14767ms; }
@keyframes move-frames-82 {
  from {
    transform: translate3d(79vw, 43vh, 0); }
  to {
    transform: translate3d(89vw, -98vh, 0); } }
  .light-container:nth-child(83) {
    width: 7px;
    height: 7px;
    animation-name: move-frames-83;
    animation-duration: 30445ms;
    animation-delay: 20071ms; }
@keyframes move-frames-83 {
  from {
    transform: translate3d(14vw, 11vh, 0); }
  to {
    transform: translate3d(58vw, -112vh, 0); } }
  .light-container:nth-child(84) {
    width: 6px;
    height: 6px;
    animation-name: move-frames-84;
    animation-duration: 32503ms;
    animation-delay: 30234ms; }
@keyframes move-frames-84 {
  from {
    transform: translate3d(16vw, 42vh, 0); }
  to {
    transform: translate3d(23vw, -112vh, 0); } }
  .light-container:nth-child(85) {
    width: 2px;
    height: 2px;
    animation-name: move-frames-85;
    animation-duration: 34484ms;
    animation-delay: 20176ms; }
@keyframes move-frames-85 {
  from {
    transform: translate3d(33vw, 4vh, 0); }
  to {
    transform: translate3d(4vw, -122vh, 0); } }
  .light-container:nth-child(86) {
    width: 2px;
    height: 2px;
    animation-name: move-frames-86;
    animation-duration: 36025ms;
    animation-delay: 4165ms; }
@keyframes move-frames-86 {
  from {
    transform: translate3d(39vw, 34vh, 0); }
  to {
    transform: translate3d(30vw, -117vh, 0); } }
  .light-container:nth-child(87) {
    width: 2px;
    height: 2px;
    animation-name: move-frames-87;
    animation-duration: 31236ms;
    animation-delay: 12685ms; }
@keyframes move-frames-87 {
  from {
    transform: translate3d(29vw, 33vh, 0); }
  to {
    transform: translate3d(58vw, -99vh, 0); } }
  .light-container:nth-child(88) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-88;
    animation-duration: 33849ms;
    animation-delay: 7711ms; }
@keyframes move-frames-88 {
  from {
    transform: translate3d(18vw, 16vh, 0); }
  to {
    transform: translate3d(4vw, -125vh, 0); } }
  .light-container:nth-child(89) {
    width: 6px;
    height: 6px;
    animation-name: move-frames-89;
    animation-duration: 28767ms;
    animation-delay: 24634ms; }
@keyframes move-frames-89 {
  from {
    transform: translate3d(22vw, 8vh, 0); }
  to {
    transform: translate3d(18vw, -101vh, 0); } }
  .light-container:nth-child(90) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-90;
    animation-duration: 34697ms;
    animation-delay: 2536ms; }
@keyframes move-frames-90 {
  from {
    transform: translate3d(58vw, 9vh, 0); }
  to {
    transform: translate3d(12vw, -118vh, 0); } }
  .light-container:nth-child(91) {
    width: 6px;
    height: 6px;
    animation-name: move-frames-91;
    animation-duration: 31471ms;
    animation-delay: 29844ms; }
@keyframes move-frames-91 {
  from {
    transform: translate3d(36vw, 57vh, 0); }
  to {
    transform: translate3d(36vw, -103vh, 0); } }
  .light-container:nth-child(92) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-92;
    animation-duration: 33894ms;
    animation-delay: 14355ms; }
@keyframes move-frames-92 {
  from {
    transform: translate3d(10vw, 93vh, 0); }
  to {
    transform: translate3d(18vw, -111vh, 0); } }
  .light-container:nth-child(93) {
    width: 4px;
    height: 4px;
    animation-name: move-frames-93;
    animation-duration: 32231ms;
    animation-delay: 2931ms; }
@keyframes move-frames-93 {
  from {
    transform: translate3d(69vw, 15vh, 0); }
  to {
    transform: translate3d(23vw, -121vh, 0); } }
  .light-container:nth-child(94) {
    width: 3px;
    height: 3px;
    animation-name: move-frames-94;
    animation-duration: 28451ms;
    animation-delay: 13477ms; }
@keyframes move-frames-94 {
  from {
    transform: translate3d(60vw, 21vh, 0); }
  to {
    transform: translate3d(61vw, -119vh, 0); } }
  .light-container:nth-child(95) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-95;
    animation-duration: 30057ms;
    animation-delay: 32909ms; }
@keyframes move-frames-95 {
  from {
    transform: translate3d(12vw, 22vh, 0); }
  to {
    transform: translate3d(88vw, -117vh, 0); } }
  .light-container:nth-child(96) {
    width: 6px;
    height: 6px;
    animation-name: move-frames-96;
    animation-duration: 32099ms;
    animation-delay: 16546ms; }
@keyframes move-frames-96 {
  from {
    transform: translate3d(36vw, 59vh, 0); }
  to {
    transform: translate3d(4vw, -122vh, 0); } }
  .light-container:nth-child(97) {
    width: 2px;
    height: 2px;
    animation-name: move-frames-97;
    animation-duration: 36974ms;
    animation-delay: 2450ms; }
@keyframes move-frames-97 {
  from {
    transform: translate3d(29vw, 62vh, 0); }
  to {
    transform: translate3d(74vw, -125vh, 0); } }
  .light-container:nth-child(98) {
    width: 2px;
    height: 2px;
    animation-name: move-frames-98;
    animation-duration: 32480ms;
    animation-delay: 31665ms; }
@keyframes move-frames-98 {
  from {
    transform: translate3d(8vw, 79vh, 0); }
  to {
    transform: translate3d(11vw, -109vh, 0); } }
  .light-container:nth-child(99) {
    width: 1px;
    height: 1px;
    animation-name: move-frames-99;
    animation-duration: 28759ms;
    animation-delay: 3355ms; }
@keyframes move-frames-99 {
  from {
    transform: translate3d(74vw, 62vh, 0); }
  to {
    transform: translate3d(1vw, -112vh, 0); } }
  .light-container:nth-child(100) {
    width: 5px;
    height: 5px;
    animation-name: move-frames-100;
    animation-duration: 32328ms;
    animation-delay: 19018ms; }
@keyframes move-frames-100 {
  from {
    transform: translate3d(28vw, 37vh, 0); }
  to {
    transform: translate3d(36vw, -123vh, 0); } }

/*# sourceMappingURL=intro_page_style.css.map */
